.cats {
  /* background-image: url('../../static/cats-bg.gif'); */
  padding: 50px;
}

.cats__title {
  text-align: center;
  margin-bottom: 25px;
}

.cats__grid > * {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  justify-content: center;
  align-items: center;
}

.cats__grid > * > *:nth-child(4n) {
  grid-column: 1 / -1;
}