.photos {
  /* background-image: url('../../static/blue-sailboat-bg.png'); */
  padding: 50px;
}

.photos__title {
  text-align: center;
  margin-bottom: 30px;
}

.photos__under-construction > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.photos__grid  > * {
  padding: 25px;
}